
  body {
    background: rgb(40, 3, 40);
    color: white;
  display: violet;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  }

  header{
  border-bottom:solid 1px rgb(167,57, 226);
  padding: 20px;
  font-size: 50px;
  color: rgb( 167,57,224 );
}
  
 section {
 background: rgb(175, 145, 189);
 color: rgb(255,255,255);
 padding-bottom: 80px;
 padding-top: 80px;
 display: flex;
 justify-content: center;
 }
.chamada-texto { 
margin-right: 5%;
  }
h1 {
  font-size:40px;
} 
p{ 
  font-size: 20px;
}